<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
      </div>
      <hr>
    </div>	
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
        <p>RAHMOUNI Ahmed & EL ANDALOUSSI Ayoub - 2020 - <u><a href="https://www.uca.fr/">Universite Clermont Auvergne</a></u></p>
      </div>
      <hr>
    </div>	
  </div>
</section>