<!DOCTYPE html>
<html lang="en">

<%- include('partials/head')  %> 
<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <%- include('partials/navbar') %>   

  <div class="data" style="height: 40em;text-align: center; ">
    <h1>Welcome to the Crippled Forum </>
    <div class="readArticle">
      <br>
      <h4>Interested to read some articles , feel free to browse all the articles </h4>
      <a class="btn btn-info" style="height:100px; width: 180px ;margin-top:50px;font-size:larger;color:white" href="/article">here</a>
    </div>
    <div class="todashboard">
      <br>
      <br>
      <h4>For everything else , you can LogIn and/or SignUp to your personal dashboard </h4>
      <a class="btn btn-success" href="/ident" style="height:100px; width: 180px ;margin-top:50px;font-size:larger;color:white">Here</a>
    </div>
  </div>

  <%- include('partials/footer')  %> 
</body>
</html>