<!-- Sidebar  -->
<nav id="sidebar">
  <div class="sidebar-header">
      <h3>Dashboard</h3>
      <strong>Hi!</strong>
  </div>

  <ul class="list-unstyled components">
      <li class="active">
          <a href="#browseSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <i class="fas fa-home"></i>
              Browse
          </a>
          <ul class="collapse list-unstyled" id="browseSubmenu">
              <li>
                  <a href="/dash/all">All articles</a>
              </li>
              <li>
                  <a href="/dash/search">search</a>
              </li>
          </ul>
      </li>
      <li>
          <a href="#myspaceSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <i class="fas fa-copy"></i>
              MySpace
          </a>
          <ul class="collapse list-unstyled" id="myspaceSubmenu">
              <li>
                  <a href="/dash/writenew">Write new article</a>
              </li>
              <li>
                  <a href="/dash/manage">Manage articles</a>
              </li>
              <li>
                  <a href="/dash/comments">My Comments</a>
              </li>
          </ul>
      </li>
      <li>
          <a href="#accountSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <i class="fas fa-copy"></i>
              Account
          </a>
          <ul class="collapse list-unstyled" id="accountSubmenu">
              <li>
                  <a href="/dash/profile" >Profile</a>
              </li>
          </ul>
      </li>
      <li>
      <li>
          <a href="/dash/about">
              <i class="fas fa-paper-plane"></i>About
          </a>
      </li>
  </ul>
</nav>